<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/sticky-footer.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<br>
<h3>
    Client's info list
</h3>
<p th:text="'Total times visited hotel: ' + ${visitedTimes}"></p>
<p>
    <a th:href="@{/bill/info/{name}(name=${clientName})}" class="btn btn-large btn-info">Bills</a>
    <a th:href="@{/reviews/{name}(name=${clientName})}" class="btn btn-large btn-info">Reviews</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Room</th>
        <th>Check-in-time</th>
        <th>Check-out-time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempClients:${clientsList}">
        <td th:text="${tempClients.room.roomNumber}"></td>
        <td th:text="${tempClients.checkInTime}"></td>
        <td th:text="${tempClients.checkOutTime}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>