<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/sticky-footer.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<br>
<h3>
    Review list
</h3>
<p>
    <a th:href="@{/reviews/addReview}" class="btn btn-large btn-success">Add new review</a>
    <a th:href="@{/reviews/angryReviews}" class="btn btn-large btn-success">Get angry reviews</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempReviews:${reviewsList}">
        <td>
            <a th:href="@{/reviews/{id}(id=${tempReviews.client.name})}" th:text="${tempReviews.client.name}"></a>
        </td>
        <td th:text="${tempReviews.review}"></td>
        <td th:text="${tempReviews.rating}"></td>
        <td th:text="${tempReviews.reviewDate}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>