<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/sticky-footer.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<br>
<h3>
    Rooms list
</h3>
<p>
    <a th:if="${action} == null" th:href="@{/rooms/addRoom/{id}(id=${chosenHotelId})}"
       class="btn btn-large btn-success">Add new room</a>
</p>
<p th:if="${freeRooms} != null" th:text="'Total free rooms is ' + ${freeRooms}">
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Room number</th>
        <th>Floor</th>
        <th>Capacity</th>
        <th>Popularity</th>
        <th>Price</th>
        <th th:if="${action} != null"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempRooms:${roomsList}">
        <td>
            <a th:href="@{/rooms/info/{id}(id=${tempRooms.roomId})}" th:text="${tempRooms.roomNumber}"></a>
        </td>
        <td th:text="${tempRooms.floor}"></td>
        <td th:text="${tempRooms.capacity}"></td>
        <td th:text="${tempRooms.popularity}"></td>
        <td th:if="${sale} == null" th:text="${tempRooms.price}"></td>
        <td th:if="${sale} != null" th:text="${tempRooms.price} * (1 - ${sale} / 100)"></td>
        <td  th:if="${action} != null">
            <form type="text" th:method="post"
                  th:action="${action} == 'book' ? @{/booking} : @{/clients(roomId=${tempRooms.roomId})}">
                <button type="submit" th:if="${action} == 'buy'" th:name="roomId" th:value="${tempRooms.roomId}"
                        class="btn btn-large btn-danger">
                    Buy room
                </button>
                <button type="submit" th:if="${action} == 'book'" th:name="roomId" th:value="${tempRooms.roomId}"
                        class="btn btn-large btn-info">
                    Book Room
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>